body{
    background-image: url(img/floral.jpg);
    align-items: center;
}

.conteudo{
    background-color: beige;
    width: 886px;
    padding: 10px;
    
}

#menu{
    background-color: #F6CED8;
    width: 897px;
    margin: 0px;
    padding: 3px;
    font-size: 25px;
    font-family: Blippo, fantasy;
    
}

a{
    text-decoration: none;
    color: #848484;
}
#menu{
    color: #848484;
}

.principal{
    margin-left: 205px;
}

.rodape{
    margin-left: 300px;
}
